{% extends 'ProyectoWebApp/base.html' %}

{% block content %}

<div class="contenedorFormulario">

    {%if "valido" in request.GET %}

        <p style="color: white; text-align:center" ; >Formulario enviado correctamente</p>

    {% endif %}


    <form action="" method="post" style= "text-align:center;">
    <!--SEGURIDAD-->
    {% csrf_token %} 
    
        <table style="color: white; margin: 20px auto;">{{ miFormulario.as_table }}</table> 
    <p></p>

    <input type="submit" value="Enviar" style= "width: 150px">

    </form>
</div>

{% endblock %}
